* {
    box-sizing: border-box;
    margin: 0;
}   

.gabungan {
    display: flex;
    justify-content: center;
}

.box {
    border: 3px solid black;
    margin: 30px 20px auto;
    /* position: relative; */
}

.box1 {
    width: 200px;
    height: 600px;
    background-color: yellow;
}

.box2 {
    width: 250px;
    height: 600px;
    background-color: rgba(238, 110, 36, 0.911);
}

.box3 {
    width: 220px;
    height: 600px;
    background-color: rgba(88, 235, 100, 0.76);
}

.box4 {
    width: 230px;
    height: 600px;
    background-color:  rgba(0, 190, 248, 0.863);
}